// colors
@yellow: #f8df1f;
@gray: #f3f3f3;
@red: #ee252f;
@black: #080801;

// font
@text: 'Nunito', sans-serif;

// reset rule
* {
    margin: 0 auto;
}




// nav bar

.nav {
    background-color: @yellow;
    font-family: @text;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
}

// banner
.logo {
    background-image: url(img/banner-bg.png);
    background-color: #3b3b38;
    padding: 100px;
    text-align: center;
}

.menu {
    padding: 70px;
    margin-bottom: 100px;
    font-family: @text;
    .menu-text {
        float: left;
    }
    .burger{
        float: right;
    }
    .text-headings {
        text-transform: uppercase;
    }
}

.contact {
    background-color:@gray;
    padding-bottom: 300px;
    padding-left: 70px;
    font-family: @text;
    .bob {
        float: left;
    }
    .text-headings{
        text-transform: uppercase;
    }
}

.footer {
    background-color: @black;
    padding: 50px;
    .footer-img {
        margin-left: 35%;
    }
}

.button {
    background-color: @yellow;
    border-style: none;
    padding: 10px;
    font-family: @text;
    font-size: 18px;
    border-radius: 8px;
    text-transform: uppercase;
    
}